---
layout: nabu
---
<div class="container">
    <nav>
        <ul>
            <li><a href="{{ site.baseurl }}/nabu/language/nabu/classes.html">Classes</a></li>
            <li><a href="{{ site.baseurl }}/nabu/language/nabu/fields.html">Fields</a></li>
            <li><a href="{{ site.baseurl }}/nabu/language/nabu/annotations.html">Annotations</a></li>
            <li><a href="{{ site.baseurl }}/nabu/language/nabu/lambda-expressions.html">Lambda expressions</a></li>
            <li><a href="{{ site.baseurl }}/nabu/language/nabu/generics.html">Generics</a></li>
            <li><a href="{{ site.baseurl }}/nabu/language/nabu/exceptions.html">Exceptions</a></li>
        </ul>
    </nav>
    <main>
        {{ content }}
    </main>
</div>