---
layout: main
---
<div class="container">
    <nav>
        <ul>
            <li><a href="{{ site.baseurl }}/nabu/index.html">Introduction</a></li>
            <li><a href="{{ site.baseurl }}/nabu/compiler-plugin/index.html">Compiler plugins</a></li>
            <li><a href="{{ site.baseurl }}/nabu/language-support/index.html">Language support</a></li>
            <li><a href="{{ site.baseurl }}/nabu/dsl-support/index.html">DSL support</a></li>
            <li><a href="{{ site.baseurl }}/nabu/language/nabu/index.html">Nabu language</a></li>
            <li><a href="{{ site.baseurl }}/nabu/compiler-design/index.html">Compiler design</a></li>
            <li><a href="{{ site.baseurl }}/nabu/testing/index.html">Testing the compiler</a></li>
        </ul>
    </nav>
    <main>
        {{ content }}
    </main>
</div>